:root
{
    --vien-color: #f2726a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(to left, #2121ff,#77FF77);   
    display: flex;
    align-items: center;
    color:white;
    flex-wrap: wrap;
}
.card
{
    background:#333340 ;
    width: 280px;
    height: 380px;
    border-radius: 12px;
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
    margin: 20px;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.card_ima
{
    width: 120px;
    height: 120px;
    border: 4px solid var(--vien-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    transform: translateY(25px);
    transition: 0.25s;
}
.card h2
{
    margin-top: 35px;
}
.card p{
    margin: 5px;
    color: var(--vien-color);
    margin-bottom: 20px;
}
.social
{
    margin-top: 40px ;
}
.social a{
    color: white;
    margin: 20px ;
    font-size: 18px;
}
.social i:hover
{
    color: var(--vien-color);
    transform: scale(1.3);
}
.card button{
    background: #333340;
    border: 2px solid var(--vien-color);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    color: var(--vien-color);
    margin: 25px auto;
    transition: 0.25s;
}

.card button:hover
{
    background: var(--vien-color);
    color: white;
}

.card_ima:hover
{
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: none;
    transform: unset;
}


